.experience-container {
    border: 1px solid;
    width: calc(50vw - calc(2 * #{$margin-little}));
    margin: $margin-little;
}

.experience-title-container {
    display: flex;
    align-items: baseline;
    margin: $margin-medium;
}

.experience-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 $margin-little 0 0;
}

.experience-title-date {
    font-weight: 200;
    font-size: 1.2rem;
}

.experience-content {
    margin: $margin-ants $margin-ants $margin-ants $margin-medium;
}
