.title-view {
    text-align: center;
}

.home-presentation-title-container {
    margin: 50px;
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

.home-presentation-title-company-name {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    padding: 5px 0 0 0;
    position: relative;
    &:before,
    &:after {
        bottom: 3px;
        opacity: 1;
        margin: 10px 0 0 0;
        content: '';
        position: absolute;
        width: 0px;
        height: 5px;
        transition: all 0.2s ease-in-out;
        transition-duration: 0.5s;
        opacity: 0;
        background-color: darken(orange, 5%);
    }
}

.home-presentation-title-company-name.mouse-enter {
    &:before,
    &:after {
        left: 0;
        width: 100%;
        opacity: 1;
    }
}

.home-presentation-title-company-name.mouse-leave {
    &:before,
    &:after {
        right: 0;
        width: 0%;
        opacity: 0;
    }
}
