.title-view {
    text-align: center;
    font-size: 1.4rem;
    margin: $margin-medium;
}

.home-presentation-title-container {
    margin: $margin-big;
    text-align: center;
    font-weight: $font-weight-title;
    font-size: $font-size-title;
    margin: $margin-mastodonte $margin-medium $margin-big $margin-medium;
}

.home-presentation-title-company-name {
    text-decoration: none;
    padding: $margin-ants 0 0 0;
    position: relative;

    &:before,
    &:after {
        bottom: 3px;
        opacity: 1;
        content: '';
        position: absolute;
        width: 0px;
        height: 5px;
        transition: all 350ms ease-in-out;
        opacity: 0;
        background-color: $color-underline-text;
    }
}

.home-presentation-title-company-name.mouse-enter {
    &:before,
    &:after {
        left: 0;
        width: 100%;
        opacity: 1;
    }
}

.home-presentation-title-company-name.mouse-leave {
    &:before,
    &:after {
        right: 0;
        width: 0%;
        opacity: 0;
    }
}

.home-presentation-sentence {
    margin: $margin-medium;
}

.home-title-icons-container {
    display: flex;
    justify-content: center;
}

.home-title-icon {
    color: $primary_color_text;
}

.home-title-icon-container {
    margin: $margin-little;
}
