.title-view {
    text-align: center;
    font-size: 1.4rem;
    margin: $margin-medium;
}

.home-presentation-title-container {
    text-align: center;
    font-weight: $font-weight-title;
    font-size: $font-size-title;
    margin: $margin-mastodonte $margin-medium $margin-big $margin-medium;
}

.home-presentation-sentence {
    margin: $margin-medium;
}
