@import 'variables';
@import 'home';
@import 'menu';
@import 'selector';
@import 'experience';
@import 'about-me';

body {
    font-family: 'Space Grotesk', 'serif';
    margin: 0;
}

#app2 {
    text-align: center;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $primary-color-text;
}

.main-page {
    text-align: center;
}

.footer-title-icons-container {
    display: flex;
    justify-content: center;
}

.footer-title-icon {
    color: $primary-color-text;

    &:hover {
        color: $color-link;
    }
}

.footer-title-icon-container {
    margin: $margin-little;
}

.copyright {
    text-align: center;
    font-style: oblique;
    font-size: 0.85em;
}

.link-text-handle.link-text-handle-small {
    &::before,
    &::after {
        height: 1px;
        transition-duration: 200ms;
    }
}

.link-text-handle {
    color: $color-link;
    text-decoration: none;
    padding: $margin-ants 0 0 0;
    position: relative;

    &::before,
    &::after {
        bottom: 3px;
        content: '';
        position: absolute;
        width: 0;
        height: 5px;
        transition: all 300ms ease-in-out;
        background-color: $color-link;
    }
}

.link-text-handle.mouse-enter {
    &::before,
    &::after {
        left: 0;
        width: 100%;
        opacity: 1;
    }
}

.link-text-handle.mouse-leave {
    &::before,
    &::after {
        right: 0;
        width: 0;
        opacity: 0;
    }
}
