@import '_variables.scss';
@import '_menu.scss';
@import 'selector';

body {
    font-family: 'Space Grotesk';
    margin: 0;
}

#app2 {
    text-align: center;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $primary_color_text;
}

.text-danger {
    color: red;
    font-size: small;
}

.main-page {
    text-align: center;
}

.title-view {
    text-align: center;
}
