.menu-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}

.menu-burger-icon {
  cursor: pointer;
  z-index: 2;
  position: absolute;
  margin: $margin-medium;
}

.menu-is-opened .corner-menu-icon {
  opacity: 0;
  visibility: hidden;
}

.menu-is-closed .corner-menu-icon {
  transition-duration: 1s;
  opacity: 1;
  visibility: visible;
}

.menu-is-closed .corner-menu-container-animated:hover .corner-menu-items-container{ 
  animation: pulse-icon-burger 1s infinite;
  animation-timing-function: linear;   
}

.corner-menu-items-container {
  color: $menu_item_color;
  background-color: $menu_color;
  display: flex;
  flex-direction: row;
  border-radius: 50%;
  position: absolute;
  border: 2px solid black;
}

.menu-is-closed .corner-menu-items-container {
  width: 150px;
  height: 150px;
  top: -75px;
  left: -75px;
  transition-duration: 1s;
}

.menu-is-opened .corner-menu-items-container {
  width: 300vmax;
  height: 300vmax;
  top: -150vmax;
  left: -150vmax;
  transition-duration: 1s;
}

.list-menu-items {
  animation: keyframe-show-menu 1s both;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

  ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: $margin-little;
    margin: 0;
    width: 100%;
  }

  ul li {
    list-style: none;

    color: #fff;
    cursor: pointer;
    font-size: 19px;
    font-weight: 400;
    line-height: 39px;
    margin: 0 $margin-little $margin-little $margin-little;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.menu-item-container {
  font-size: 2em;
  margin: 0 0 $margin-little 0;
  width: max-content;
  width: 101%;
  text-align: center;
  letter-spacing: 0;
}

.menu-item-icon {
  margin: 2px 0 0 5px;
}

.menu-close-icon {
  margin: $margin-medium $margin-medium 0 auto;
  cursor: pointer;
  transform: none;
  position: absolute;
  right: 0;
  top: 0;
  animation: keyframe-show-menu 1s both;
  animation-iteration-count: 1;
}

.menu-item-container:hover,
.menu-item-container:active {
  letter-spacing: 2px;
}

.menu-item-container:after,
.menu-item-container:before {
  border: 1px solid rgba(#fff, 0);
  content: " ";
  display: block;
  margin: 0 auto;
  transition: all 350ms ease-in-out;
  width: 0;
}

.menu-item-container:hover:after,
.menu-item-container:hover:before {
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 100%;
}

.menu-item-container:hover:before {
  bottom: auto;
  top: 0;
  width: 100%;
}

.menu-item-link {
  color: white;
  text-decoration: none;
}

@keyframes keyframe-show-menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse-icon-burger {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}