.selector-language-container {
    position: fixed;
    top: 0;
    right: 0;
    margin: $margin-little;

    :hover {
        cursor: pointer;
    }
}

$transition: cubic-bezier(0.86, 0, 0.07, 1);

$can-toggle-offset: 2px;

.selector-language-switch {
    display: block;
    transition: background-color 0.3s $transition;
    background: $menu-background-color;
    height: $selector-height;
    border-radius: $selector-height;
    width: $selector-width;
    position: relative;

    &::before {
        color: $selector-item-not-selected;
        font-weight: 900;
        left: $selector-switch-width;
        font-size: $selector-font-size;
        line-height: $selector-height;
        width: $selector-switch-width;
        content: attr(data-checked);
        position: absolute;
        top: 0;
        text-transform: uppercase;
        text-align: center;
    }

    &::after {
        transition: transform 0.3s $transition;
        color: $selector-item-selected;
        top: $can-toggle-offset;
        left: $can-toggle-offset;
        border-radius: $selector-height;
        width: $selector-switch-width - $can-toggle-offset;
        line-height: $selector-height - ($can-toggle-offset * 2);
        font-size: $selector-font-size;
        content: attr(data-unchecked);
        position: absolute;
        z-index: 5;
        text-transform: uppercase;
        text-align: center;
        background: #ffffff;
        transform: translate3d(0, 0, 0);
    }
}

.selector-language-checkbox {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;

    &:checked ~ .selector-language-switch {
        &::before {
            content: attr(data-unchecked);
            left: 0;
        }

        &::after {
            transform: translate3d(
                $selector-width - ($selector-switch-width + $can-toggle-offset),
                0,
                0
            );
            content: attr(data-checked);
        }
    }
}
