$primary_color: #f8f9fa;
$second_color: #adb5bd;
$primary_color_text: #212529;
$color-underline-text: rgb(14, 14, 160);

$menu_item_color: #e9ecef;
$menu_background_color: #373c41;
$menu_color: #838a91;

$selector_item_selected: black;
$selector_item_not_selected: white;
$selector_font_size: 16px;
$selector_width: 60px;
$selector_switch_width: $selector_width/2;
$selector_height: 30px;

$margin-ants: 5px;
$margin-very-little: 10px;
$margin-little: 13px;
$margin-medium: 20px;
$margin-big-medium: 30px;
$margin-big: 50px;
$margin-mastodonte: 75px;

$font-weight-title: 500;
$font-size-title: 3rem;

@font-face {
    font-family: 'Space Grotesk';
    src: url('~@/styles/fonts/SpaceGrotesk-Light.woff2') format('woff2'),
        url('~@/styles/fonts/SpaceGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
