$primary-color-text: #212529;
$headline-color-text: #094067;
$color-link: #457b9d;

$background: #fffffe;
$item-color-highlighted: #838a91;

$menu-item-color: #e9ecef;
$menu-background-color: #14213d;
$menu-color: #838a91; // #5f6c7b #90b4ce

$selector-item-selected: $headline-color-text;
$selector-item-not-selected: #fffffe;
$selector-font-size: 16px;
$selector-width: 60px;
$selector-height: 30px;
$selector-switch-width: $selector-height;

$margin-ants: 5px;
$margin-very-little: 10px;
$margin-little: 13px;
$margin-medium: 20px;
$margin-big-medium: 30px;
$margin-big: 50px;
$margin-mastodonte: 75px;

$font-weight-title: 500;
$font-size-title: 3rem;
$font-size-subtitle: 2rem;

@font-face {
    font-family: 'Space Grotesk';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: local('Space Grotesk'),
        url('@/styles/fonts/SpaceGrotesk-Light.woff2') format('woff2'),
        url('@/styles/fonts/SpaceGrotesk-Light.woff') format('woff');
}
